<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find and select the best AI services for text, images, video, marketing, and automation. Discover the world of artificial intelligence with our catalog!">
    <meta name="keywords" content="AI services, artificial intelligence, text generation, AI for marketing, image generation, AI for video, process automation, chatbots, music generation, selection of AI tools, AI platforms, findmyai">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>FindMyAI</title>
</head>
<body>
    <script>
        const userLang = navigator.language || navigator.userLanguage; 
        if (!userLang.startsWith('uk')) {
            window.location.href = "https://findmyai.fun/en";
        } else {
            window.location.href = "https://findmyai.fun/uk";
        }
    </script>
</body>
</html>
